.navbar {
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
  }

  .nav-link {
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
  }

  > .nav-title {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: 'Playfair DisplayVariable', system-ui, sans-serif;
  }
}
